<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Assign student to major
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-card>
      <ion-label>Major</ion-label>
      <ion-input [(ngModel)]="majorStudent.major" name="firstName" autofocus="true" required maxlength=50></ion-input>
    </ion-card>
    <ion-card>
      <ion-label>Student</ion-label>
      <ion-input [(ngModel)]="majorStudent.student" name="lastName" required maxlength=50></ion-input>
    </ion-card>
    <ion-card>
      <ion-label>Graduated</ion-label>
      <ion-checkbox [(ngModel)]="majorStudent.graduated" name="username" required></ion-checkbox>
    </ion-card>
    
    <button ion-button class="submitButton" type="submit" (click)="administrativeAdd()">Submit</button>
    <button ion-button class="clearButton" type="reset" (click)="clearInputs()">Clear</button>
  </form>

</ion-content>








