<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Add Student
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-card>
      <ion-label>First Name</ion-label>
      <ion-input [(ngModel)]="student.firstName" name="firstName" autofocus="true" maxlength=50></ion-input>
    </ion-card>
    <ion-card>
      <ion-label>Last Name</ion-label>
      <ion-input [(ngModel)]="student.lastName" name="lastName" maxlength=50></ion-input>
    </ion-card>
    <ion-card>
      <ion-label>Father Name</ion-label>
      <ion-input [(ngModel)]="student.fatherName" name="fatherName" maxlength=50></ion-input>
    </ion-card>
    <ion-card>
      <ion-label>Username</ion-label>
      <ion-input [(ngModel)]="student.username" name="username" maxlength=50></ion-input>
    </ion-card>
    <ion-card>
      <ion-label>Password</ion-label>
      <ion-input [(ngModel)]="student.password" name="password" maxlength=250></ion-input>
    </ion-card>
     <ion-card>
      <ion-label>Password hash</ion-label>
      <ion-input [(ngModel)]="student.passwordHash" name="passwordHash" maxlength=250></ion-input>
    </ion-card>
    <ion-card>
      <ion-label>Address</ion-label>
      <ion-input [(ngModel)]="student.address" name="address" maxlength=50></ion-input>
    </ion-card>
    <ion-card>
      <ion-label>Mobile Number</ion-label>
      <ion-input [(ngModel)]="student.mobileNumber" name="mobileNumber" maxlength=50></ion-input>
    </ion-card>
    <ion-card>
      <ion-label>Email</ion-label>
      <ion-input [(ngModel)]="student.email" name="email" placeholder="example@example.com" maxlength=50></ion-input>
    </ion-card>
    <ion-card>
      <ion-label>Enrollment Date</ion-label>
      <ion-datetime displayFormat="MM/DD/YYYY" pickerFormat="D/M/YYYY" [(ngModel)]="student.enrollmentDate" name="enrollmentDate"></ion-datetime>
    </ion-card>
    
    <button ion-button class="submitButton" type="submit" (click)="studentAdd()">Submit</button>
    <button ion-button class="clearButton" type="reset" (click)="clearInputs()">Clear</button>
  </form>

</ion-content>








