<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Assign Student To Course
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-card>
      <ion-select [(ngModel)]="studentCourse.studentID" name="student" placeholder="Select Student">
        <!-- <ion-select-option>None</ion-select-option> -->
        <ion-select-option *ngFor="let s of students" value="{{s.ID}}">{{s.firstName +" "+s.lastName}}</ion-select-option>
      </ion-select>
    </ion-card>
    <ion-card>
      <ion-select  [(ngModel)]="studentCourse.courseID" name="course" placeholder="Select Course">
        <!-- <ion-select-option>None</ion-select-option> -->
        <ion-select-option *ngFor="let s of courses" value="{{s.ID}}">{{s.name}}</ion-select-option>
      </ion-select>
    </ion-card>
    <ion-card>
      <ion-label>Course Year Of Enrollment</ion-label>
      <ion-input  [(ngModel)]="studentCourse.courseYearOfEnrollment" name="courseYearOfEnrolment" required type="number" maxlength=50></ion-input>
    </ion-card>
     <ion-card>
      <ion-select [(ngModel)]="studentCourse.semesterId" name="semesterId" placeholder="Select Semester">
        <!-- <ion-select-option>None</ion-select-option> -->
        <ion-select-option *ngFor="let s of semesters" value="{{s.ID}}">{{s.name}}</ion-select-option>
      </ion-select>
    </ion-card>
    <button ion-button class="btn btn-success submitButton" type="submit" (click)="addMajorStudentsValues()">Submit</button>
    <button ion-button class="btn btn-danger clearButton" type="reset" (click)="clearInputs()">Clear</button>
  </form>

</ion-content>








