<ion-header>
  <ion-toolbar>
    <ion-title>Add Student</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-card>
      <ion-label>First Name</ion-label>
      <ion-input [(ngModel)]="student.firstName" name="firstName"></ion-input>
    </ion-card>
    <ion-card>
      <ion-label>Last Name</ion-label>
      <ion-input [(ngModel)]="student.lastName" name="lastName"></ion-input>
    </ion-card>
    <ion-card>
      <ion-label>Father Name</ion-label>
      <ion-input [(ngModel)]="student.fatherName" name="fatherName"></ion-input>
    </ion-card>
    <ion-card>
      <ion-label>Username</ion-label>
      <ion-input [(ngModel)]="student.username" name="username"></ion-input>
    </ion-card>
    <ion-card>
      <ion-label>Password</ion-label>
      <ion-input [(ngModel)]="student.password" name="password"></ion-input>
    </ion-card>
     <ion-card>
      <ion-label>Password hash</ion-label>
      <ion-input [(ngModel)]="student.passwordHash" name="passwordHash"></ion-input>
    </ion-card>
    <ion-card>
      <ion-label>Address</ion-label>
      <ion-input [(ngModel)]="student.address" name="address"></ion-input>
    </ion-card>
    <ion-card>
      <ion-label>Mobile Number</ion-label>
      <ion-input [(ngModel)]="student.mobileNumber" name="mobileNumber"></ion-input>
    </ion-card>
    <ion-card>
      <ion-label>Email</ion-label>
      <ion-input [(ngModel)]="student.email" name="email"></ion-input>
    </ion-card>
    <ion-card>
      <ion-label>Enrollment Date</ion-label>
      <ion-datetime displayFormat="MM/DD/YYYY" pickerFormat="D/M/YYYY" [(ngModel)]="student.enrollmentDate" name="enrollmentDate"></ion-datetime>
    </ion-card>
    
    <button ion-button type="submit" (click)="studentAdd()">Submit</button>
  </form>

</ion-content>








