<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Add Course
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-card>
      <ion-label>name</ion-label>
      <ion-input [(ngModel)]="course.name" name="name" autofocus="true" required maxlength=50></ion-input>
    </ion-card>
    <ion-card>
      <ion-label>description</ion-label>
      <ion-input [(ngModel)]="course.description" name="description" required maxlength=2000></ion-input>
    </ion-card>
    <ion-card>
      <ion-label>number of credits</ion-label>
      <ion-input [(ngModel)]="course.numberOfCredits" name="numberOfCredits" type="numeric" required maxlength=1></ion-input>
    </ion-card>
    <ion-card>
      <ion-label>major ID</ion-label>
      <ion-input [(ngModel)]="course.majorID" name="majorID" type="numeric" required maxlength=50></ion-input>
    </ion-card>
    <ion-card>
      <ion-label>teacher ID</ion-label>
      <ion-input [(ngModel)]="course.teacherID" name="teacherID" type="numeric" required maxlength=50></ion-input>
    </ion-card>
    
    <button ion-button class="submitButton" type="submit" (click)="courseAdd()">Submit</button>
    <button ion-button class="clearButton" type="reset" (click)="clearInputs()">Clear</button>
  </form>

</ion-content>








